<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Komisi Pemilihan Osim Mps</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/trims.css">
</head>

<body>
    <div id="kontainer">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="TempatTulisan">
                <h1 id="TulisanKpom">KPOM 2018</h1>
                <h4 id="Tulisan">"Gunakan Hak Suaramu Dengan Bijak"</h4></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 hidden-xs hidden-sm" id="TempatLogo"><img class="hidden-xs hidden-sm" src="assets/img/Kemenag.png" id="LogoKemenag"><img class="hidden-xs hidden-sm" src="assets/img/icj.png" id="LogoIcj"><img class="hidden-xs hidden-sm" src="assets/img/BN.png" id="LogoBn"></div>
        </div>
        <hr id="garis">
        <h1 class="text-uppercase text-center">Terimakasih Telah Memilih Secara Bijak</h1></div>
    <p class="text-center">Halaman Ini Akan Auto - Direct Ke Halaman Login Dalam </p>
    <h1 class="text-center" id="angka"> </h1>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/trims.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>